<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title><---DevLayouts</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css"/>
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>



	<div id="my-header">
		 <div class="container">
			 <div class="row">
				 <div class="col d-flex justify-content-center">
					 <div class="h1 ">
						 Header
					 </div>
				 </div>
			 </div>
		 </div>
	</div>

	<div id="my-content" class="main-page">
		<div class="container" id="infoProd">
			<div class="row">
				<div class="col-12 ">
					<div class="h1">
						Калькулятор стоимости
					</div>
					<!--<multiselect v-model="formTriggers.productSelect" Placeholder="Выберите продукт" Select-Label="Нажмите для выбора" Deselect-Label="Нажмите для удаления"   Selected-Label="Выбран" label="name" :multiple="true" :options="infoProdTableArr.table1.headersArr"></multiselect>-->

					<button type="button" class="btn btn-success">Показать</button>

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="table">
						<table id="datatable-responsive" cellspacing="0" width="100%" class="table table-striped table-bordered dt-responsive nowrap">
							<thead>
								<tr>
									<template v-for="(item, index) in infoProdTableArr.table2.headersArr">
										<th>
											{{ item }}
										</th>
									</template>
								</tr>
							</thead>
							<tbody>
								<template v-for="(rowTable, index) in infoProdTableArr.table2.rowValArr">
										<tr>
												<td>
													{{ rowTable.name }}
												</td>
												<td>
													{{ rowTable.price }}
												</td>
												<td>
													{{ rowTable.comment }}
												</td>
												<td>
													{{ rowTable.premia.percent }}%
												</td>
										</tr>
								</template>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>



	</div>

	<div id="my-footer">

	</div>


<!--Css from praweb start-->
<link href="http://lk.praweb.ru/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/animate.css/animate.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/build/css/custom.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/build/css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="http://lk.praweb.ru/assets/img/favicon.ico" type="image/x-icon">        <link href="http://lk.praweb.ru/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<!--link href="http://lk.praweb.ru/assets/vue/datetimepicker/bootstrap-datepicker3.min.css" rel="stylesheet"-->
<link href="http://lk.praweb.ru/assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vue/multiselect/vue-multiselect.min.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
<link href="http://lk.praweb.ru/assets/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

	<!--Css from praweb end-->


<!--For all pages START-->

<link rel="stylesheet" href="css/main.min.css">

<script src="http://lk.praweb.ru/assets/vendors/jquery/dist/jquery.min.js"></script>

<script src="js/scripts.min.js"></script>
<script src="js/common.js"></script>



<!--scripts praWeb start-->
	<!-- Bootstrap -->
	<script src="http://lk.praweb.ru/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="http://lk.praweb.ru/assets/vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="http://lk.praweb.ru/assets/vendors/nprogress/nprogress.js"></script>
	<!-- iCheck -->
	<script src="http://lk.praweb.ru/assets/vendors/iCheck/icheck.min.js"></script>
	<!-- Datatables -->
	<script src="http://lk.praweb.ru/assets/vue/multiselect/vue-multiselect.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/jszip/dist/jszip.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/moment/min/moment.min.js"></script>
	<!--script src="http://lk.praweb.ru/assets/vue/datetimepicker/bootstrap-datepicker.min.js"></script-->
	<script src="http://lk.praweb.ru/assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="http://lk.praweb.ru/assets/vendors/pnotify/dist/pnotify.custom.min.js"></script>
<!--scripts praWeb end-->


	<script src="js/modelTable.js"></script>
	<script src="js/calcModel.js"></script>


<!--For all pages END-->
<!--For this pages START-->

<!--For this pages END-->

<script>
	/*For this page START*/
	/*For this page END*/

	/*For all pages START*/
	$(function() {


	});
	/*For all pages END*/
</script>

</body>
</html>
